
@{
    ViewBag.Title = "CreateImage";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>Добавить изображение</h2>

@using (Html.BeginForm("CreateImage", "EstateObject", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <dl class="dl-horizontal">

        <dt class="editor-label"> Файл изображения </dt>

        <dd class="editor-field">
            <input type="file" name="uploadImage" />
        </dd>

    </dl>

    <p>
        <input type="submit" value="Добавить" />
    </p>
}

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

