@*@using EstateAgency.ViewModel;

@model MyPicture

@{
    ViewBag.Title = "DeleteImage";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>DeleteImage</h2>
<h3>@Model.Id</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Назад", "Index")
    </div>
}*@


