@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Estate Agency</h1>
    <p class="lead">Estate Agency это бесплатная информационная система, предназначенная для клиентов и менеджеров агентства недвижимости.</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Как работает</h2>
        <p>
            Приложение на платформе ASP.NET MVC предназначено для упрощения деятельности агентства недвижимости. Обращаясь к базе данных, Estate Agency позволяет добавлять, изменять и удалять информацию об объектах недвижимости, а также оптимизирует процесс заключения сделки.
        </p>
    </div>
    <div class="col-md-4">
        <h2>С чего начать</h2>
        <p>Зарегистрируйтесь в системе как менеджер под адресом корпоративной электронной почты, чтобы получить доступ к каталогу объектов недвижимости и информации о сделках.
        Зарегистрируйтесь как клиент, чтобы чтобы скорее ознакомиться с каталогом и заключить сделку в нашем агентстве!</p>
    </div>
    <div class="col-md-4">
        <h2>Остались вопросы</h2>
        <p>Приложение сломалось? По всем вопросам можете обратиться к Кузнецовой Дарье по адресу электронной почты dakuznetsova_3@edu.hse.ru</p>
    </div>
</div>